$welcomeColor: #009838;
$projectsColor: #19181B;

.container-fluid, .row {
  padding: 0;
  margin: 0;
}

h1 {
  font-size:300%;
}

.welcome {
  background-color: $welcomeColor;
  font-size: 150%;
  min-height: 100%;
  height: 100vh;
  color: white;
  display: flex; /*So I can center vertically */
  flex-direction: column;
  justify-content: center;
}

.fa {
  color: white;
  cursor: default;
  &:hover {
    color: black;
  }
}

.fa-chevron-circle-down {
  margin: 4% auto;
}

.projects {
  background-color: $projectsColor;
  margin: auto;
  padding-bottom: 2%;
  h2 {
    color: #00FFF1;
  }
}

h2 {
    margin: 0;
    padding: 2%;
}

figcaption {
  text-align: center;
  color: white;
  padding: 1% 0 10% 0;
  font-size: 130%;
}

.figcaptionclass {
  font-size: 120%;
  color: $welcomeColor;
}

img {
  width: 100%;
}

.techUsed {
  font-weight: bold;
}

footer {
  background-color: $welcomeColor;
  color: white;
  padding: 2%;
  font-size: 150%;
}