<div class="container">
    <h1 class="text-center mb-5">Top 10 Cryptocurrencies by Market Cap</h1>
    <div class="row justify-content-center">
        <section style="margin: 10px; text-align: center;" class="col-lg-2" *ngFor="let coin of cmc.slice(0,5)">
            <h3>{{ coin.name }}</h3>
            <!--<p>{{ coin.rank }}</p>-->
            <p>Price - {{ coin.price_usd | currency:'USD' }}</p>
            <p>Market Cap - {{ coin.market_cap | currency:'USD' }}</p>
            <p>Change (24h) - {{ coin.change_day }} %</p>
        </section>
    </div>
    <div class="row justify-content-center">
        <section style="margin: 10px; text-align: center;" class="col-lg-2" *ngFor="let coin of cmc.slice(5,10)">
            <h3>{{ coin.name }}</h3>
            <!--<p>{{ coin.rank }}</p>-->
            <p>Price - {{ coin.price_usd | currency:'USD' }}</p>
            <p>Market Cap - {{ coin.market_cap | currency:'USD' }}</p>
            <p>Change (24h) - {{ coin.change_day }} %</p>
        </section>
    </div>
</div>